<div class="container-sm">
    <div class="row">
        <div class="col-sm">
            {% block header %}
            <h1>SiteName</h1>
            {% endblock %}
        </div>

        <div class="col-sm d-flex justify-content-center">
            <form>
                <div class="input-group mb-3 mt-3">
                    <input type="text" placeholder="Channel URL" class="form-control" id="youtube-channel">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary">Go</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>